﻿@model IEnumerable<WorkFromHome.Models.TaskDetail>

@if(Model.Count() == 0)
{
    <div class="box box-success">
        <div class="box-header">
            <i class="fa fa-tasks"></i>
            <h3 class="box-title">Tasks </h3>
            <br />
        </div>
        <div class="box-body chat" id="chat-box">
            <!-- chat item -->
            <br/>
            <div class="item">
                
                <p class="message">
                    
                        <h3> Task Not Assigned </h3>
                   
                </p>

                <!-- /.attachment -->
            </div>
            

        </div>
        <!-- /.chat -->
        <div class="box-footer">
            <div class="input-group">
                <input class="form-control"  placeholder="Type Response...">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-success" ><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
}

@foreach (var item in Model)
{
    <div class="box box-success">
        <div class="box-header">
            <i class="fa fa-tasks"></i>
            <h3 class="box-title">Task By</h3>
            <br />
        </div>
        <div class="box-body chat" id="chat-box">
            <!-- chat item -->
            <div class="item">
                <img src="~/template/dist/img/avatar5.png" alt="user image" class="offline">
                <p class="message">
                    <a href="#" class="name">
                        <small class="text-muted pull-right">@*<i class="fa fa-clock-o"></i> 5:15*@</small>
                        @Html.DisplayFor(modelItem => item.TaskBy.FullName)
                    </a>
                    @Html.DisplayFor(modelItem => item.Task)
                </p>

                <!-- /.attachment -->
            </div>
            @if (item.TaskResponse != "")
            {
            <div class="item">
                <img src="~/template/dist/img/avatar5.png" alt="user image" class="offline">
                <p class="message">
                    <a href="#" class="name">
                        <small class="text-muted pull-right">@*<i class="fa fa-clock-o"></i> 5:15*@</small>
                        Response
                    </a>
                    @Html.DisplayFor(modelItem => item.TaskResponse)
                </p>

                <!-- /.attachment -->
            </div>
            }

        </div>
        <!-- /.chat -->
        <div class="box-footer">
            <div class="input-group">
                <input class="form-control" id="@("txtResponse"+item.TaskID)" placeholder="Type Response...">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-success" onclick="@("TaskResponse('" + item.TaskID + "')")"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
}