﻿@model IEnumerable<WorkFromHome.Models.Department>


<table id="example1" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartName)
                </td>
                <td>
                    <a href='#' class='btn btn-success' onclick="@("EditDepart('" + item.DepartID + "')")"> <span class='fa fa-edit' style="color: white; font-size: 20px;"></span></a> &nbsp; &nbsp; &nbsp; &nbsp;
                    <a href='#' class='btn btn-danger' onclick="@("DeleteDepart('" + item.DepartID + "')")"> <span class='fa fa-remove' style='color: white; font-size: 20px;'></span> </a>

                </td>
            </tr>
        }
    </tbody>
</table>
